# Set the default behavior to handle all files as text and normalize to LF on checkout and commit.
* text=auto eol=lf

# Linux start script should use lf
/gradlew        text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf
